#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

# Add here any variable or target overrides you need.
DEB_DIVERT_FILES_scripts-vm-host = /etc/conserver/conserver.cf.divert
DEB_TRANSFORM_FILES_scripts-vm-host = /etc/munin/munin-node.conf.divert
