[Unit]
Description=Scripts AFS Configuration Service
After=syslog.target openafs-client.service
Before=remote-fs.target
Requires=openafs-client.service

[Service]
Type=oneshot
ExecStart=/usr/local/libexec/scripts-afsagent-startup

[Install]
WantedBy=multi-user.target remote-fs.target
