Source: scripts-execsys
Section: web
Priority: optional
Maintainer: Tim Abbott <tabbott@mit.edu>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 5), autoconf
Standards-Version: 3.7.2

Package: scripts-execsys
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, perl, python, php5-cgi
Description: scripts.mit.edu Execsys package
 Execsys.
