[submodule "ansible/roles/ansible-udev_rename_netiface"]
	path = ansible/roles/udev_rename_netiface
	url = https://github.com/jtyr/ansible-udev_rename_netiface.git
[submodule "ansible/roles/network_interface"]
	path = ansible/roles/network_interface
	url = https://github.com/mit-scripts/ansible.network_interface.git
