[submodule "ansible/roles/udev_rename_netiface"]
	path = ansible/roles/udev_rename_netiface
	url = https://github.com/jtyr/ansible-udev_rename_netiface.git
[submodule "ansible/roles/network_interface"]
	path = ansible/roles/network_interface
	url = https://github.com/mit-scripts/ansible.network_interface.git
[submodule "ansible/roles/pacemaker-corosync"]
	path = ansible/roles/pacemaker-corosync
	url = https://github.com/mit-scripts/ansible-pacemaker-corosync.git
[submodule "ansible/roles/proxy-munin-node/files/monitoring-munin-haproxy"]
	path = ansible/roles/proxy-munin-node/files/monitoring-munin-haproxy
	url = https://github.com/mit-scripts/monitoring-munin-haproxy.git
[submodule "ansible/roles/ldirectord-status/files/ldirectord-status/gnlpy"]
	path = ansible/roles/ldirectord-status/files/ldirectord-status/gnlpy
	url = https://github.com/facebook/gnlpy.git
[submodule "server/common/oursrc/scripts-proxy/vendor/inet.af/tcpproxy"]
	path = server/common/oursrc/scripts-proxy/vendor/inet.af/tcpproxy
	url = https://github.com/inetaf/tcpproxy.git
