Source: scripts-tokensys
Section: admin
Priority: optional
Maintainer: Tim Abbott <tabbott@mit.edu>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 5), autoconf
Standards-Version: 3.7.2

Package: scripts-tokensys
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, krb5-user, openafs-krb5
Pre-Depends: cron, adduser
Description: scripts.mit.edu Tokensys package
 Tokensys.
