[Unit]
Description=Scripts whois Service
After=syslog.target dirsrv.service

[Service]
Type=simple
ExecStart=/usr/bin/twistd --nodaemon -l /var/log/scripts-whoisd.log --pidfile /var/run/whoisd.pid -y /usr/local/libexec/whoisd.tac

[Install]
WantedBy=multi-user.target
