[Unit]
Description=Scripts afsagent Service
After=syslog.target openafs-client.service
Before=remote-fs.target
Requires=openafs-client.service
ConditionPathExists=/etc/daemon.keytab

[Service]
Type=oneshot
ExecStart=/home/afsagent/renew
User=afsagent

[Install]
WantedBy=multi-user.target remote-fs.target
