[Unit]
Description=Scripts AFS Configuration Service
After=syslog.target openafs-client.service
Before=remote-fs.target scripts-afsagent.service
Requires=openafs-client.service
Wants=scripts-afsagent.service

[Service]
Type=oneshot
ExecStart=/usr/local/libexec/scripts-afsagent-startup
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target remote-fs.target
