# Check if the vhost is served from another pool; if so, we relay to
# that pool's IP. This is also used as a relay_domains map to tell
# Postfix it's a relay domain.

server_host = {{ ldap_server }}
search_base = ou=VirtualHosts,dc=scripts,dc=mit,dc=edu
query_filter = (&(objectClass=scriptsVhost)(|(scriptsVhostName=%d)(scriptsVhostAlias=%d))(!(scriptsVhostName=scripts.mit.edu))(!(|{% for ip in ansible_all_ipv4_addresses %}(scriptsVhostPoolIPv4={{ip}}){% endfor %})))
result_attribute = scriptsVhostPoolIPv4
result_format = relay:%s
bind = no
version = 3
