# Check if the user's vhost is served from another pool; if so, we
# relay to that pool's IP. This lookup handles user@+suffix as the
# input (transformed by pass-scripts.mit.edu-suffix).

server_host = {{ ldap_server }}
search_base = ou=VirtualHosts,dc=scripts,dc=mit,dc=edu
query_filter =
    (&
     (objectClass=scriptsVhost)
     (scriptsVhostName=%u.scripts.mit.edu)
     (!
      (|
{% for ip in ansible_all_ipv4_addresses %}
       (scriptsVhostPoolIPv4={{ip}})
{% endfor %}
      )
     )
    )
result_attribute = scriptsVhostPoolIPv4
result_format = %U%D!scripts.mit.edu@[%s]
bind = no
version = 3