*filter
:INPUT ACCEPT [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
:log-smtp - [0:0]
-A OUTPUT -p tcp -m tcp --dport 25 --syn -j log-smtp
-A log-smtp -m owner --uid-owner postfix -j RETURN
-A log-smtp -m owner --uid-owner nrpe -o lo -d 127.0.0.1 -j RETURN
# 537644531=scripts (for heartbeat)
-A log-smtp -m owner --uid-owner 537644531 -o lo -j RETURN
-A log-smtp -j LOG --log-prefix "SMTP " --log-uid
-A log-smtp -o lo -d 127.0.0.1 -j RETURN
# outgoing.mit.edu
{% for ip in lookup('dig', 'outgoing.mit.edu', wantlist=True) %}
-A log-smtp -d {{ ip }} -j RETURN
{% endfor %}
-A log-smtp -j REJECT --reject-with icmp-admin-prohibited
-A OUTPUT -d 192.42.116.41 -j LOG --log-prefix "Eitest sinkhole " --log-uid
-A OUTPUT -d 216.218.185.162 -j LOG --log-prefix "matsnu sinkhole " --log-uid
COMMIT
