{% for vip in vips %}
- device: lo:{{ loop.index }}
  bootproto: static
  address: {{ vip.ip }}
  netmask: 255.255.255.255
  onboot: True
{% endfor %}
{% if vlan486_address | default(False) and vlan486_hwaddr | default(False) %}
- device: vlan486
  hwaddress: "{{ vlan486_hwaddr }}"
  address: "{{ vlan486_address }}"
  netmask: 255.255.255.0
  gateway: 18.4.86.1
  dns_nameservers: "{{ mit_dns_servers | list }}"
  dns_search: mit.edu
  bootproto: static
  onboot: True
{% endif %}
{% if vlan461_address | default(False) and vlan461_hwaddr | default(False) %}
- device: vlan461
  hwaddress: "{{ vlan461_hwaddr }}"
  address: "{{ vlan461_address }}"
  netmask: 255.255.255.0
  bootproto: static
  onboot: True
  route:
{% for hostname in groups['sql'] + groups['scripts-real'] %}
{% with info = hostvars[hostname] %}
{% if info['vlan486_address'] | default(False) and info['vlan461_address'] | default(False) %}
    - network: {{ info['vlan486_address'] }}
      netmask: "255.255.255.255"
      gateway: {{ info['vlan461_address'] }}
{% endif %}
{% endwith %}
{% endfor %}
{% endif %}
