[Unit]
Description=FUSE better mousetrap filesystem
After=remote-fs.target
[Mount]
What=/usr/local/sbin/better-mousetrapfs
Where=/afs/000
Type=fuse
Options=defaults,nonempty
