[Unit]
Description=FUSE better mousetrap filesystem
After=openafs-client.service
[Mount]
What=/usr/sbin/better-mousetrapfs
Where=/afs/000
Type=fuse
Options=defaults,nonempty
[Install]
WantedBy=multi-user.target
