[Unit]
Before=local-fs.target
[Mount]
What=/usr/vice/etc
Where=/srv/scripts_config/server/fedora/config/usr/vice/etc
Options=bind
[Install]
WantedBy=local-fs.target
