[Unit]
Description=Mock build directory nosuid bind mount
After=local-fs.target
# This wants to be a [Mount], but due to
# https://bugs.freedesktop.org/show_bug.cgi?id=53205
# we can't actually achieve the desired effect.
[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/mount -B /var/lib/mock /var/lib/mock
ExecStart=/bin/mount -o remount,nosuid /var/lib/mock
ExecStop=/bin/umount /var/lib/mock
[Install]
WantedBy=multi-user.target
