[mysqld]

# Disable checksums because p-k doesn't support them
# TODO: Reenable when we're on all new versions
binlog_checksum=NONE

bind-address = 0.0.0.0

# open_files_limit now set to 16K in the systemd unit

datadir         = /srv/data/mysql/db/

slow_query_log

max_user_connections=96
max_connections=1024
max_connect_errors=8192
wait_timeout=300
interactive_timeout=300
local_infile=0
ft_min_word_len=3
expire_logs_days=30

old_passwords=0
# TODO: Rehash old passwords
skip-secure-auth
skip-name-resolve
default-storage-engine=innodb

skip-external-locking
key_buffer_size = 1024M
max_allowed_packet = 1M
table_open_cache = 1024
join_buffer_size = 1M
sort_buffer_size = 2M
read_buffer_size = 2M
read_rnd_buffer_size = 8M
myisam_sort_buffer_size = 64M
thread_cache_size = 8
query_cache_size = 128M
# Try number of CPU's*2 for thread_concurrency
thread_concurrency = {{ 2 * ansible_processor_count }}

# Don't listen on a TCP/IP port at all. This can be a security enhancement,
# if all processes that need to connect to mysqld run on the same host.
# All interaction with mysqld must be made via Unix sockets or named pipes.
# Note that using this option without enabling named pipes on Windows
# (via the "enable-named-pipe" option) will render mysqld useless!
# 
#skip-networking

# Replication Master Server (default)
# binary logging is required for replication
log-bin=/srv/mysql/logs/sql-bin
log-bin-index=/srv/mysql/logs/sql-bin.index
relay-log={{ ansible_hostname }}-relay-bin
relay-log-index={{ ansible_hostname }}-relay-bin.index

# binary logging format - mixed recommended 
binlog_format=mixed

# required unique id between 1 and 2^32 - 1
# defaults to 1 if master-host is not set
# but will not function as a master if omitted
server-id       = {{ ip.split('.')[-1] }}

#    CHANGE MASTER TO MASTER_HOST=<host>, MASTER_PORT=<port>,
#    MASTER_USER=<user>, MASTER_PASSWORD=<password> ;
#
#    where you replace <host>, <user>, <password> by quoted strings and
#    <port> by the master's port number (3306 by default).
#
#    Example:
#
#    CHANGE MASTER TO MASTER_HOST='125.564.12.1', MASTER_PORT=3306,
#    MASTER_USER='joe', MASTER_PASSWORD='secret';

# You can set .._buffer_pool_size up to 50 - 80 %
# of RAM but beware of setting memory usage too high
innodb_buffer_pool_size=8G
# Set .._log_file_size to 25 % of buffer pool size
innodb_log_file_size=1G
innodb_log_buffer_size=8M
innodb_lock_wait_timeout=50
innodb_thread_concurrency=200
innodb_file_per_table
innodb_strict_mode=off
# 0 means flush every second
# 1 means flush at COMMIT (ACID-compliant)
# 2 means write at COMMIT, flush every second
innodb_flush_log_at_trx_commit=1
