# XVM

define contactgroup {
        contactgroup_name       sipb
        alias                   sipb Zephyr
        members                 sipb-auto-zephyr
}

define contact {
	use				xvm-contact
        contact_name                    sipb-auto-zephyr
        alias                           sipb-auto-zephyr
	host_notification_period	24x7
	service_notification_period	24x7
        service_notification_options    w,u,c,r
        host_notification_options       d,u,r
        host_notification_commands      host-notify-by-zephyr
        service_notification_commands   notify-by-zephyr
        email                           sipb-auto
}

define host {
	name sipb-host
	use	generic-host
	register	0
        max_check_attempts      10
        check_period		24x7
	check_command	check-host-alive
        notification_interval   120
        notification_period     24x7
        notification_options    d,r
        contact_groups  sipb
	parents	sipb-ether
}

define service {
	name	sipb-service
	use	generic-service
        max_check_attempts	6
        normal_check_interval	2
	retry_check_interval	1
        contact_groups  sipb
	notification_interval	120
        notification_period	24x7
        notification_options    w,u,c,r
	register 0
}

define host {
	use	sipb-host
	host_name	stuff
	address	18.181.0.31
}

define service {
        use                             sipb-service
        host_name			stuff
        service_description             PING
	check_command			check_ping!500.0,30%!3000.0,80%
}

#define service {
#	use	sipb-service
#	host_name	stuff
#	service_description	SSH
#	check_command	check_ssh
#}

define service {
	use	sipb-service
	host_name	stuff
	service_description	HTTP
	notification_period	afs
	check_command	check_http
}
