[Unit]
Description=HTTP Socket for LDirectord Status
OnFailure=ldirectord-http.socket

[Socket]
ListenStream=78
Accept=yes
TriggerLimitBurst=0

[Install]
WantedBy=sockets.target
