[Unit]
Description=Finger Socket for LDirectord Status
OnFailure=ldirectord-finger.socket

[Socket]
ListenStream=79
Accept=yes

[Install]
WantedBy=sockets.target
