{% macro zone(name) %}
zone "{{ name }}" IN {
    type stub;
    masters { {% for server in mit_dns_servers %}{{server}}; {% endfor %} };
    file "slaves/{{ name }}.stub";
};
{% endmacro %}
{{ zone("mit.edu") }}
{{ zone("0.4.3.0.6.2.ip6.arpa") }}
{% for name in mit_subnets | inaddr_zones %}
{{ zone(name) }}
{% endfor %}
