[Unit]
Description=SIPB JupyterHub
Requires=scripts-afsagent.service
After=scripts-afsagent.service

[Service]
ExecStart=/opt/jupyterhub/bin/jupyterhub
WorkingDirectory=/opt/jupyterhub

[Install]
WantedBy=multi-user.target
