Protocol 2
SyslogFacility AUTHPRIV
PasswordAuthentication no
ChallengeResponseAuthentication yes
GSSAPIAuthentication yes
GSSAPICleanupCredentials yes
UsePAM yes
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL
AcceptEnv EDITOR VISUAL
X11Forwarding no
Banner /etc/issue.net
Subsystem sftp /usr/libexec/openssh/sftp-server
# See trac #23
HostbasedAuthentication yes
IgnoreRhosts yes
IgnoreUserKnownHosts yes
DenyUsers root@old-faithful.mit.edu root@better-mousetrap.mit.edu
LogLevel VERBOSE

# See trac #23
HostbasedAuthentication yes
IgnoreRhosts yes
IgnoreUserKnownHosts yes
DenyUsers root@old-faithful.mit.edu root@better-mousetrap.mit.edu root@bees-knees.mit.edu
